1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

Solution:-
values are ('hello', -87.8, 6)
expressions are (*,-,/,+)

2. What is the difference between string and variable?

String is a data type which represents text whereas variables are those empty boxes to which we assign some value or different data types.

3. Describe three different data types.

Numeric type:- int(9),float(9.6),complex(9+6j)
Text type:- str('god')
Boolean type:- bool(True/False)

4. What is an expression made up of? What do all expressions do?

An expression is a combination of values, variables, operators, and calls to functions. Expressions can be used in a wide variety of contexts, such as in variable assignments, as arguments in function calls, and as part of control flow statements.
e.g- x=9,y=6 and x>y where > expression evaluates to False.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

A statement is a command that tells the program to perform a certain action, such as assigning a value to a variable or controlling the flow of execution, while an expression is a piece of code that evaluates to a value.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Variable names can only start with a letter or an underscore, and can be followed by any combination of letters, digits, and underscores. This is why 'eggs' is a valid variable name, but 100 is not.So when we try to assign value to 100, the interpreter assumes that you are trying to use the numeric literal 100 in an assignment statement rather than a variable named 100.

In [9]:
eggs=1234,5674
eggs

(1234, 5674)

In [6]:
100='stre','frt'

SyntaxError: cannot assign to literal (Temp/ipykernel_9112/2571050713.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Following functions can be used to get integer, float or string version of a value:-

int()- This function can be used to convert a value to an integer.
float()- This function can be used to convert a value to a floating-point number.
str()- This function can be used to convert a value to a string.

Examples are:-

In [16]:
x=3.14
print(int(x))

3

In [11]:
x=9
print(float(x))

9.0

In [12]:
x=6
print(str(6))

6

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'.

Error is due to that we are trying to concatenate string with integer. So to fix this convert the ineger to string.

In [22]:
'I have eaten ' + '99' + ' burritos'

'I have eaten 99 burritos'

In [23]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'